<h1> About Us </h1>

<p>Parkt is a web application created using Ruby on Rails.</p>

<h3>Purpose</h3>
<p>To provide users with information about street parking options,
specifically parking meters, near to their destination within the
city of Vancouver. This application will be used help users better plan their 
trips.</p>

<h3>Description</h3> 
<p>The web application will consist of a map and a series of filters. The user
will enter their destination and choose a radius of inclusion for 
parking meters. The map will update to show icons at the locations of the
parking meters. Clicking on an icon will open a pop-up with information about
pricing and time of effect. The application will also include options for 
filtering by price/hour.</p>

<p>Parkt will integrate with Twitter, both for login, so users can save
frequently visited locations, and to give users the ability to tweet about 
broken parking metres and other obstacles to safe and convenient parking. 
Tweets will be automatically labelled with #MeterMiseries.</p>

<h3>Credits</h3>
<p>Scott L, Joyce N, Billy C, John V, Hong L</p>