<div class="row-fluid">
  <div class="col-md-2">
  </div>
  <div class="row text-center">
    <div id="logo" class="col-md-8">
      <%= image_tag("logos.jpg", :alt => "logos") %>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
